/*FULL WEBSITE*/

body, html {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    min-height: 96.5vh;
}

h1 {
    font-family: 'Oxygen', sans-serif;
}

h2 {
    font-family: 'Oxygen', sans-serif;
}

a.big_name {
    color:#e96321;
    text-decoration: none;  
    font-family: 'Oxygen', sans-serif;
    text-shadow: 1px 1px black;
    display: block;
    margin: auto;
    width: 40%;
    font-size: 4em;
}

/*navigation*/
.nav_1 {
    grid-area: logo;
    text-align: left;
}

.nav_2 {
    grid-area: about-me;
    text-align: center;
}

.nav_3 {
    grid-area: resume;
    text-align: center;
}

.nav_4 {
    grid-area: writing-samples;
    text-align: center;
}

.nav_5 {
    grid-area: contact;
    text-align: center;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
    margin-top: 0px;
    padding-top: 0px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1); 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "logo . . . . ."
        "logo about-me resume writing-samples contact ."
        "logo . . . . .";
}
            
ul.nav {
    list-style-type: none;
    margin:0px;
    padding: 0px 0px 5px 0px;
}
            
li.nav {
    display: inline;
}
            
a.nav {
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    position: relative;
    color: black;
}

img.logo {
    height: 60px;
    margin-left: 20px;
}

#active_nav_link {
    text-decoration: underline;
    text-decoration-color: #e96321;
}


/*nav WITH ANIMATION*/
a.nav, a.nav:visited {
    text-decoration: none;
    position: relative;
}

a.nav:after, a.nav:visited:after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0%;
    background: #e96321;
    transition: 0.2s;
}

a.nav:hover:after, a.nav:visited:hover:after {
    width: 100%;
}

a.block, a:visited.block {
    display: block;
    padding: 0.5em;
}

a.block:hover, a:visited.block:hover {
    background: inherit;
}

/* header */

/*content*/
article {
    padding: 30px;
    margin: 20px;
    font-size: 18px;
    line-height: 1.6em;
}

/*footer*/
footer {
    position: relative;
    bottom: 0;
    background-color: #e8e8e8;
    line-height: 1.6em;
    padding: 0 0 0 20px;
    padding-bottom: 5px;
}
            
div.social_media {
    display: inline-block;
}
            
.fa {
    color: #e96321;
    padding: 2px;
    margin-top: 10px;
    text-decoration: none;
}

.fa:hover {
    color: rgba(233,99,33,0.7);
}
            
p.footer_text {
    line-height: 0em;
    display: inline-block;
    justify-content: center;
}

/*HOMEPAGE*/
body.home {
    background-size: cover;
    background-attachment: fixed;
    background-image:  url(../images/portfolio_notepad_background.jpg);
    /*Image courtesy of Pixabay (user: freephotocc).  https://pixabay.com/photos/notepad-coffee-notebook-wooden-1276779/. Edited from original */
    background-position: center;
    background-repeat: no-repeat;
}

div.home_page_name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
}

h1.home_page_name {
    color: #e96321;
    text-shadow: 1px 1px black;
    font-family: "Oxygen", sans-serif;
    font-size: 3em;
    
}

p.home_page_adjectives {
    color: white;
    margin-left: 100px;
    font-size: 1.5em;
    text-shadow: 1px 1px black;
}

@media screen and (max-width: 650px) {
    p.home_page_adjectives {margin-left: auto;}
}

aside {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    border-radius: 5px;
}

div.container_home {
    height: 100%;
}

div.content_home {
    height: 95%
}
/*SUBPAGES*/

/*About Me*/
div.header_image_about_me {
    background-image: url(../images/bout_me.jpg);
    /* Image courtesty of Wikipedia Commons (Author: Kuba Bozanowski). https://commons.wikimedia.org/wiki/File:Marimba_detail_%282931259387%29.jpg. Edited from original. */
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

img.about_me_picture {
    width: 400px;
    display: inline;
    margin: 10px;
}

/*Resume*/
div.header_image_resume {
    background-image: url(../images/handshake-500.jpg);
    /* Image courtesy of Pexels (user: rawpixel.com). https://www.pexels.com/photo/achievement-agreement-business-clapping-990817/. Edited from original.*/
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

hr {
    height: 1px;
    border: none;
    color: #808081;
    background-color: #808080;
}

li.double-bullet {
    list-style-type: none;
}

/*Writing Samples*/
div.header_image_writing_samples{
    background-image: url(../images/book_stack.jpg);
    /* Image courtesty of Pixabay (user: BookBabe). https://pixabay.com/photos/stack-stacked-books-bookshelf-845286/. Edited from original.*/
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
            
.writing_sample_title {
    color: black;
    text-decoration: none;
    font-size: 1.15em; 
    font-family: 'Oxygen', sans-serif;
}

.writing_sample_title:hover {
    color: #e96321;
}

p.subpage_writing_samples {
    margin: 5px 0px 0 40px;
}
/*Contact*/
div.header_image_contact {
    background-image: url(../images/contact_page_image.jpg);
    /* Image courtesy of Pexels (user: Pixabay). https://www.pexels.com/photo/business-call-cell-phone-coffee-265660/. Edited from original.*/
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}